<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Document</title>
</head>
<body>

  <h1>Google sheet Data</h1>


  <div class="main">
    <% for(var info of information) {%>
      <div class="card">
        <p><%= info.country %></p>
        <p><%= info.capital %></p>
        <p><%= info.population %></p>
      </div>
    <% } %>
  </div>

 

</body>
</html>